.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
   /*  height: 50px;
    max-width: 100px;
     background: rgba(255, 255, 255, 0.2); 
    margin: 15px; */
    padding: 5px;
}