.SpinPositionStyle {
  z-index: 9999999999999999 !important;
  height: 100vh !important;
  width: 100vw !important;
  max-height: 100vh !important;
  background-color: 'white' !important;
  opacity: 0.5 !important;
}

.MainLoadingContentStyle {
  /* give it size */
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* don't mess up with mouse events */
  pointer-events: none;
}
